.button{
    display: flex;
    justify-content: center;
    min-width: 50%;
    opacity: 0.75;

}


.button_imaging{
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    width: 40%;
    height: 40%;
    transition: 0.4s ease-out;

}

.button_imaging:hover {
    cursor: pointer;
    width: 60%;
    height: 60%;
    opacity: 0.9;
    transition: 0.4s;
}


.deleteb {
    background-image: url('../../assets/trash_icon.svg');


}

.redactb{
    background-image: url('../../assets/redact_icon.svg');

}
